@font-face {
  font-family: "Montserrat";
  src: url("/fonts/Montserrat-Medium.ttf");
  font-weight: 500;
}

@font-face {
    font-family: 'Montserrat';
    src: url('/fonts/Montserrat-Bold.ttf');
    font-weight: 700;
}

@font-face {
    font-family: 'PT Serif';
    src: url('/fonts/PTSerif-Regular.ttf');
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.container {
  width: 1060px;
  margin: 0 auto;
}

/* Верхний блок */

.header {
  background: url(../img/bg_footer.jpeg) no-repeat center center/cover;
}

.header-box {
  display: flex;
  justify-content: space-between;
  padding-top: 40px;
  align-items: center;
  margin-bottom: 70px;
}

.header-nav {
  display: flex;
  list-style-type: none;
  text-transform: uppercase;
}

.header-link {
  color: rgb(255, 255, 255);
  font-family: Montserrat;
  font-size: 18px;
  font-weight: 500;
  text-decoration: none;
  padding: 6px 15px;
  margin: 0 3px;
}

.header-link:hover{
    background: rgb(19, 14, 39);
    border-radius: 5px;
}

.header-title {
    font-family: Montserrat;
    font-size: 90px;
    font-weight: 700;
    line-height: 90px;
    letter-spacing: -2%;
    text-transform: uppercase;
    color: rgb(19, 14, 39);
    width: 600px;
    margin-bottom: 50px;
}

.header-subtitle{
    color: rgb(255, 255, 255);
}

.header-text {
    width: 495px;
    color: rgb(255, 255, 255);
    font-family: PT Serif;
    font-size: 20px;
    font-weight: 400;
    line-height: 28px;
    padding-bottom: 180px;
}

/* Второй блок сервис */

.service-box {
  padding-top: 50px;
}
.servise-title {
  font-family: Montserrat;
  font-size: 50px;
  font-weight: 700;
  letter-spacing: -2%;
  color: rgb(198, 35, 20);
  text-transform: uppercase;
  margin-bottom: 80px;
}
.servise-subtitle {
  color:  rgb(19, 14, 39);
}
.servise-cards {
  display: flex;
  justify-content: space-between;
  text-align: center;
}

.card-logo-box {
  height: 165px;
  margin-bottom: 50px;
}

.card-text {
  color: rgb(22, 22, 22);
  font-family: PT Serif;
  font-size: 20px;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: -3%;
  width: 180px;
  margin-bottom: 70px;
}

/* Третий блок история */

.story{
  background-color: rgb(19, 14, 39);
}

.story-box {
  display: flex;
  justify-content: space-between;
}

.story-text {
  width: 650px;
  color: rgb(255, 255, 255);
  font-family: PT Serif;
  font-size: 20px;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: -2%;
  margin: 34px 0;
}

.story-link {
  color: rgb(255, 255, 255);
  font-family: Montserrat;
  font-size: 22px;
  font-weight: 500;
  text-decoration: none;
  text-transform: uppercase;
  padding: 19px 68px;
  margin: 30px 0;
  background-color: rgb(198, 35, 20);
  border-radius: 5px;
}

.story-link:hover{
  background: rgb(19, 14, 39);
}

/* Четвертый блок pricing */
.pricing{
  text-align: center;
  background: rgb(239, 239, 239);
}

.pricing-title {
  display: block;
  color: rgb(19, 14, 39);
  font-family: Montserrat;
  font-size: 50px;
  font-weight: 700;
  line-height: 61px;
  text-transform: uppercase;
  padding: 50px 0;
}

.pricing-cards {
  display: flex;
  justify-content: space-between;
  padding-bottom: 70px;
}

.pricing-card {
  background: rgb(255, 255, 255);
  width: 340px;
}

.pricing-card-name {
  color: rgb(22, 22, 22);
  font-family: PT Serif;
  font-size: 22px;
  font-weight: 400;
  line-height: 28px;
  padding: 35px 0 40px;
}

.picing-card-prace {
  color: rgb(198, 35, 20);
  font-family: Montserrat;
  font-size: 50px;
  font-weight: 700;
  line-height: 61px;
  padding-bottom: 30px;
}

.pricing-list {
  color: rgb(22, 22, 22);
  font-family: PT Serif;
  font-size: 20px;
  font-weight: 400;
  line-height: 28px;
  list-style-type: none;
  padding-bottom: 40px;
}

.pricing-box-link{
  margin-bottom: 50px;
}

.pricing-link {
  color: rgb(255, 255, 255);
  background: rgb(198, 35, 20);
  font-family: Montserrat;
  font-size: 22px;
  font-weight: 500;
  line-height: 27px;
  padding: 11px 81px;
  text-transform: uppercase;
  text-decoration: none;
  border-radius: 5px;

}

.pricing-link:hover{
  background: rgb(19, 14, 39);
}

/* Подвал сайта */

.footer {
  background-color: rgb(19, 14, 39);;
}

.footer-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer-text {
  font-family: PT Serif;
  color: rgb(255, 255, 255);
  font-size: 20px;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: -2%;
}

.footer-subtext {
  color: rgb(198, 35, 20);

}

.footer-logo {
  padding: 60px 0;
}

