@font-face {
  font-family: "Montserrat";
  src: url("/fonts/Montserrat-Medium.ttf");
  font-weight: 500;
}

@font-face {
    font-family: 'Montserrat';
    src: url('/fonts/Montserrat-Bold.ttf');
    font-weight: 700;
}

@font-face {
    font-family: 'PT Serif';
    src: url('/fonts/PTSerif-Regular.ttf');
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.header {
  background: url(/img/bg_footer.jpeg) no-repeat center center/cover;
}

.container {
  width: 1060px;
  margin: 0 auto;
}

.header-box {
  display: flex;
  justify-content: space-between;
  padding-top: 40px;
  align-items: center;
  margin-bottom: 70px;
}

.header-nav {
  display: flex;
  list-style-type: none;
  text-transform: uppercase;
}

.header-link {
  color: rgb(255, 255, 255);
  font-family: Montserrat;
  font-size: 18px;
  font-weight: 500;
  text-decoration: none;
  padding: 6px 15px;
  margin: 0 3px;
}

.header-link:hover{
    background: rgb(19, 14, 39);
    border-radius: 5px;
}

.header-title {
    font-family: Montserrat;
    font-size: 90px;
    font-weight: 700;
    line-height: 90px;
    letter-spacing: -2%;
    text-transform: uppercase;
    color: rgb(19, 14, 39);
    width: 600px;
    margin-bottom: 50px;
}

.header-subtitle{
    color: rgb(255, 255, 255);
}

.header-text {
    width: 495px;
    color: rgb(255, 255, 255);
    font-family: PT Serif;
    font-size: 20px;
    font-weight: 400;
    line-height: 28px;
    padding-bottom: 180px;
}

.service-box {
  padding-top: 50px;
}
.servise-title {
  font-family: Montserrat;
  font-size: 50px;
  font-weight: 700;
  letter-spacing: -2%;
  color: rgb(198, 35, 20);
  text-transform: uppercase;
  margin-bottom: 80px;
}
.servise-subtitle {
  color:  rgb(19, 14, 39);
}
.servise-cards {
  display: flex;
  justify-content: space-between;
  text-align: center;
}

.card-box-logo {
  height: 165px;
  margin-bottom: 50px;
}

.card-text {
  color: rgb(22, 22, 22);
  font-family: PT Serif;
  font-size: 20px;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: -3%;
  width: 180px;
  margin-bottom: 70px;
}
